PORT=9000

REDIS_URL=

DOCKER_SOCKET=/var/run/docker.sock
DOCKER_HOST=tcp://host.docker.internal:2375
BUILD_IMAGE_NAME=builder-server:latest

USE_HTTPS=false

SERVER_IP=
ACME_EMAIL=
TTL_HOURS=24

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=bruumhost
